.headerPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--preto-branco, #FFF);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logoSearch{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.searchBox{
    display: flex; 
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.25rem;
    background: var(--preto-05, #F5F5F5);
}


.buscador{
    display: flex;
    align-items: flex-start;
    flex: 1 0 0;
    background: none;
    border: none;
    font-family: Raleway;
}

.btnBuscador{
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    border: none;
    background: none;
}

.btnHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border: 1px solid var(--azul-100, #2A7AE4);

    color: var(--azul-100, #2A7AE4);
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}

.links{
    text-decoration:none;
}

.btnHeader:hover{
    background: var(--preto-05, #F5F5F5);
    font-weight: 500;
}





@media screen and (min-width:0) {
    .headerPrincipal{
        align-self: stretch;
        padding: 1rem;
    }
   
    .logo{
        width: 6.25rem;
        padding-right: 6rem;
    }
    .btnHeader{
        width: 8.3125rem;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }
    .searchBox{
        display: none;
    }
    
}


@media screen and (min-width:450px) {
    .headerPrincipal{
        align-self: stretch;
    }
    .container{
        padding: 1rem 2rem;
    }
    .logo{
        padding-right: 0;
        width: 6.25rem;
    }
    .searchBox{
        display: flex;
        width: 17rem;
    }
    
    .btnHeader{
        width: 10.375rem;
        padding: 0.75rem 1rem;
        
    }
}

    


@media screen and (min-width:768px) {
    .headerPrincipal{
        gap: 0.625rem;
    }
    .logo{
        width: 11rem;
    }
    
    .container{
        padding: 2rem 0rem;
        width: 70%;
    }
    
    .searchBox{
        
        width: 24.5625rem;
    }
    
    .btnHeader{
        width: 11.375rem;
        padding: 1rem;
        
    }
    
}